$white: #ffffff;
$gray: #eaecf1;
$gray-hover: #f5f7fc;
$black: #000000;
$border-color: #e6e6e6;
$accent: #02818a;
$active-accent: #02747c;
$text-color-information: #000402;
$text-color-title: #012b34;
$color-counter: #42567a;
$blue-btn: #3877ee;
$blue-hover-btn: #316bd7;
