include ../../components/common/header/header
include ../../components/common/footer/footer
include ../../components/ui/spoiler/spoiler
include ../../components/blocks/content/content
include ../../components/blocks/counter-wrraper/counter-wrraper
include ../../components/blocks/modal/modal
include ../../components/ui/slider/slider
include ../../components/blocks/slider-item/slider-item
include ../../components/ui/counter/counter
