mixin counter-wrraper(props)
    .counter-wrraper&attributes(attributes)
        h2.counter-wrraper__title Значение счетчика на активном слайде:
        +counter-value.counter-wrraper__value 
        button.counter-wrraper__btn Открыть
