mixin counter-wrraper(props)
    .counter-wrraper&attributes(attributes)
        h2.counter-wrraper__title Значение счетчика на активном слайде:
        .counter-wrraper__value 0
        button.counter-wrraper__btn Открыть
